.Rproj.user
.Rhistory
.RData
presentation-concordance.tex
presentation.log
presentation.nav
presentation.pdf
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
presentation.vrb
worksheet-concordance.tex
worksheet.log
worksheet.pdf
worksheet.synctex.gz
worksheet.tex
presentation-*.pdf
worksheet-*.pdf
paper-concordance.tex
paper.log
paper.pdf
paper.synctex.gz
paper.tex
paper-*.pdf
paper.aux
paper.bbl
paper.blg
paper.fff
paper.lof
paper.lot
paper.ttt
