.Rproj.user
.Rhistory
.RData
presentation-concordance.tex
presentation.log
presentation.nav
presentation.pdf
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
worksheet-concordance.tex
worksheet.log
worksheet.pdf
worksheet.synctex.gz
worksheet.tex
presentation-example-timeline.pdf
